[Unit]
Description=Listener socket for CeraLive HTTP server
Before=nginx.service

[Socket]
ListenStream=80
Accept=false

[Install]
WantedBy=multi-user.target
